@font-face {
  /* 사용할 폰트의 이름 */
  font-family: 'NotoSans';
  font-display: fallback;

  /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot
    */
  src: url('./NotoSans-Regular.ttf') format('truetype'),
    url('./NotoSans-Regular.woff') format('woff'),
    url('./NotoSans-Regular.eot?iefix') format('embedded-opentype');

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* 사용할 폰트의 이름 */
  font-family: 'Dongle';
  font-display: fallback;

  /* 
      src: 사용할 폰트의 위치 및 형식 
         Safari, Android, iOS => ttf
         Modern Browsers => woff
         IE6-IE8 => eot
      */
  src: url('./Dongle-Regular.ttf') format('truetype'),
    url('./Dongle-Regular.woff') format('woff'),
    url('./Dongle-Regular.eot?iefix') format('embedded-opentype');

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 600;
  font-style: normal;
}
