.listItem {
  display: flex;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  .checkbox {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    align-items: center;
    &.checked {
      svg {
        color: skyblue;
      }
      .text {
        color: gray;
        text-decoration: line-through;
      }
    }

    .text {
      //   color: black;
      //   decoration: none;
      margin-left: 0.5rem;
    }
  }

  .deleteBtn {
    color: red;
    margin-right: 1rem;
  }
}
