.listItem {
  display: flex;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  &:nth-child(even) {
    background: #f8f9fa;
  }
  .checkbox {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    align-items: center;
    &.checked {
      svg {
        color: skyblue;
        font-size: 1.5rem;
      }
      .text {
        color: gray;
        text-decoration: line-through;
      }
    }

    .text {
      //   color: black;
      //   decoration: none;
      margin-left: 0.5rem;
    }
    svg {
      font-size: 1.5rem;
    }
  }

  .deleteBtn {
    color: red;
    margin-right: 1rem;
    font-size: 1.5rem;
    &:hover {
      color: pink;
      transition: 0.1s color ease-in;
    }
  }
}
