.insertTemplate {
  display: flex;
  background: #333333;
  .insert {
    flex: 1;
    background: none;
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.5rem;
    border: none;

    &::placeholder {
      color: white;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    background: gray;
    color: white;
    transition: 0.2s background ease-in;
    &:hover {
      //버튼에 마우스가 올라 갔을 때
      background: darkgray;
    }
  }
}
